<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="setRole(roles.ADMIN)">Set Admin</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="setRole(roles.USER)">Set User</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="clear()">Clear roles</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="goToPage(roles.ADMIN)">View Admin</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="goToPage(roles.USER)">View User</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="goToPage('both')">View Both</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
